{
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "printWidth": 120,
    "quoteProps": "as-needed",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false
}